
html {
  font-family: 'Hammersmith One', sans-serif;
  background-image: url("../images/b1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

#description {
  margin: 5px 10px;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(145, 122, 89, 0.85);
  border: 10px solid;
  text-align: center;

  border-image: linear-gradient(var(--angle), rgba(145, 122, 89, 0.1), rgba(145, 122, 89, 0.1), black,rgba(145, 122, 89, 0.1), rgba(145, 122, 89, 0.1)) 1;
  
  animation: 10s rotate linear infinite;
}

.body {
  max-height: 120px;
  transition: max-height 2s ease-out
}
.body.expanded {  
  max-height: 10000px;
  transition: max-height 2s ease-in
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#expand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 10px;
  margin: 3px;
}

.descriptionVisible {
  display: block;
  opacity: 1; 
}

.descriptionHidden {
  display: none;
}

.descriptionTransition.descriptionHidden {
	display: block;
	opacity: 0;
}

.descriptionTransition {
	transition: opacity 2s ease;
}

p { 
  margin: 10px;
  color: white;
  font-size: 12px;    
  letter-spacing: 1px;
}

img {
  width: 200px;
  max-width: 60%; 
  display: block;
  margin: 3px auto;
  border-radius: 1em;
  
}

h1 {
  margin: 0; 
  color: white;
  font-size: 25px;
}
@media (min-width: 500px) {
  p{
    font-size: 20px;
  }
  #expand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
  }
}
@media (min-width: 700px) {
  #expand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
  }
  img {
    float: right;
    margin: 20px;
  }
  h1{
    font-size: 55px;
  }
  p{
    font-size: 20px;
  }
}